BasedOnStyle: Google
AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AlignConsecutiveDeclarations: true
AlignEscapedNewlinesLeft: true
IndentWidth: 4
AccessModifierOffset: -4
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Custom
ContinuationIndentWidth: 4
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PenaltyExcessCharacter: 80
ColumnLimit: 80
PenaltyReturnTypeOnItsOwnLine: 1
PointerAlignment: Right
SortIncludes: Never
SpacesInContainerLiterals: false
Standard: c++03
